name: e com
services:
  backend: 
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend2
    ports:
      - "8080:8080"
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: example
